* {
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    color: black;
}

.all {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: white;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.modelo p {
    margin-bottom: 40px;
}
section.modelo:last-child {
    margin-bottom: 0;
}

section.modelo h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.modelo.conteudo {
    padding: 40px 0;
    background-color: #ece7d5;
}

section.modelo.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.modelo.parallax::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
}

section.modelo.parallax-0 {
    background-image: url(../img/jojop0.jpg);
}

section.modelo.parallax-1 {
    background-image: url(../img/jojop1.jpg);
}

section.modelo.parallax-2 {
    background-image: url(../img/jojop2.jpg);
}

section.modelo.parallax-3 {
    background-image: url(../img/jojop3.jpg);
}

section.modelo.parallax-4 {
    background-image: url(../img/jojop4.png);
}

section.modelo.parallax-5 {
    background-image: url(../img/jojop5.jpg);
}

section.modelo.parallax-6 {
    background-image: url(../img/jojop6.jpg);
}

section.modelo.parallax h1{
    color: white;
    text-align: center;
    font-size: 78px;
    text-transform: uppercase;
}


